$color-primary: #a78bfa;
$color-primary-hover: #9061f9;

$color-green: #48bb78;
$color-green-hover: #38a169;

$color-danger: #e53e3e;
$color-danger-hover: #c53030;


$color-text: #222;
$color-text-muted: #666;

$color-bg-hover: #f5f5f5;
$color-border: #e5e5e5;
